.idea/.gitignore
.idea/.name
.idea/aws.xml
.idea/ChatGPTCopilotChannelManager.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules/ru.rostelecom-cc.ntt.suz.test.suz-tests.main.iml
.idea/modules/suz-tests.main.iml
.idea/modules/suz-tests.test.iml
.vscode/settings.json
/bin/
/allure-results/
/.idea/
/.vscode/
/.gradle/

# Project exclude paths
/build/
/build/classes/java/main/
/build/classes/java/test/
