.idea/.gitignore
.idea/.name
.idea/aws.xml
.idea/ChatGPTCopilotChannelManager.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules/ru.rostelecom-cc.ntt.suz.test.suz-tests.main.iml
.idea/modules/suz-tests.main.iml
.idea/modules/suz-tests.test.iml
.vscode/settings.json
.gradle/file-system.probe
.gradle/7.5.1/gc.properties
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/checksums/md5-checksums.bin
.gradle/7.5.1/checksums/sha1-checksums.bin
.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.5.1/dependencies-accessors/gc.properties
.gradle/7.5.1/executionHistory/executionHistory.bin
.gradle/7.5.1/executionHistory/executionHistory.lock
.gradle/7.5.1/fileChanges/last-build.bin
.gradle/7.5.1/fileHashes/fileHashes.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/7.5.1/fileHashes/resourceHashesCache.bin
.gradle/7.6/gc.properties
.gradle/7.6/checksums/checksums.lock
.gradle/7.6/fileChanges/last-build.bin
.gradle/7.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
/bin/
/allure-results/
/.idea/
/.vscode/
/.gradle/

# Project exclude paths
/build/
/build/classes/java/main/
/build/classes/java/test/
/gradle/
